body {
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    width: 100%;
}

.field {
    padding: 10px 0 0;
}
.field label {
    font-size: 20px;
    margin-top: 10px;
}
#key {
    width: 200px;
}
#flow {
    height: 80px;
    width: 200px;
}

button {
    margin: 10px 0 10px;
}

li {
    list-style-type: none;
    display: table-cell; /* 定義 */
    padding-right: 10px;
  }

#explain {
      margin-top: 10px;
      font-size: 20px;
      padding: 5px 5px;
      width: max-content;
}

tr {
    margin-top: 5px;
}
th,td {
    width: max-content;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #000;
    padding: 5px 5px;
    vertical-align: middle;
}
#check{
    max-width: max-content;
}

footer {
    margin-top: 10px;
    font-size: 15px;
}